@model tp1_restaurant.Models.Reservation

@{
	ViewData["Title"] = "Details";
}

<div class="section" data-aos="fade-up">
	<div class="container">
		<div class="row section-heading justify-content-center mb-5">
			<div class="col-md-8 text-center">
				<h2 class="heading mb-3">Détails de la reservation</h2>
			</div>
		</div>

		<div>

			<dl class="row">
				<dt class="col-sm-2">
					@Html.DisplayNameFor(model => model.ReservationId)
				</dt>
				<dd class="col-sm-10">
					@Html.DisplayFor(model => model.ReservationId)
				</dd>
				<dt class="col-sm-2">
					@Html.DisplayNameFor(model => model.Prenom)
				</dt>
				<dd class="col-sm-10">
					@Html.DisplayFor(model => model.Prenom)
				</dd>
				<dt class="col-sm-2">
					@Html.DisplayNameFor(model => model.Nom)
				</dt>
				<dd class="col-sm-10">
					@Html.DisplayFor(model => model.Nom)
				</dd>
				<dt class="col-sm-2">
					@Html.DisplayNameFor(model => model.TypeReservation)
				</dt>
				<dd class="col-sm-10">
					@Html.DisplayFor(model => model.TypeReservation)
				</dd>
				<dt class="col-sm-2">
					@Html.DisplayNameFor(model => model.Courriel)
				</dt>
				<dd class="col-sm-10">
					@Html.DisplayFor(model => model.Courriel)
				</dd>
				<dt class="col-sm-2">
					@Html.DisplayNameFor(model => model.DateHeureReservation)
				</dt>
				<dd class="col-sm-10">
					@Html.DisplayFor(model => model.DateHeureReservation)
				</dd>
				<dt class="col-sm-2">
					@Html.DisplayNameFor(model => model.NumeroTelephone)
				</dt>
				<dd class="col-sm-10">
					@Html.DisplayFor(model => model.NumeroTelephone)
				</dd>
				<dt class="col-sm-2">
					@Html.DisplayNameFor(model => model.NombrePersonnes)
				</dt>
				<dd class="col-sm-10">
					@Html.DisplayFor(model => model.NombrePersonnes)
				</dd>
			</dl>
		</div>
		<div>
			@Html.ActionLink("Modifier", "Edit", new { id = Model.ReservationId }) |
			<a asp-action="Index">Retour à la liste</a>
		</div>
	</div>
</div> <!-- .section -->
